html, body {
    height: 100%; /* Ensure full height for both html and body */
    margin: 0; /* Remove any default margin */
  }

footer {
    background-color: #333; /* Footer background color */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
  }

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
